{% extends 'cr/home.html' %}
{% block content %}

<div class="container">
    <h1>Players List</h1>

    <div class="row">
        <div class="col">
            <h3>Potential Gaming Buddies:</h3>

            <div class="card">
                <div class="card-body">
                    {% for player in player_list %}
                        <a href="{% url 'players_detail' player.id %}" class="text-decoration-none">
                            <h5 class="card-title">{{ player.player_name }}</h5>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}