{% extends 'cr/home.html' %}

{% block content %}
<div class="container">
    <h1>Delete {{ object.player_name }}</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-title">Are you sure you want to delete <em>{{ object.player_name }}?</em></h4>
            <form action="" method="POST" class="mt-4">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mr-2">Yes - Delete!</button>
                <a href="{% url 'players_detail' object.id %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}