{% extends 'cr/home.html' %}
{% block content %}
<h1>{{card.name}}</h1>

<hr>
    <div>
        <div>
            <h3><span>{{ card.name }}</span></h3>
            <p>Level: {{ card.level }}</p>
            <p>Rarity: {{ card.rarity }}</p>
            {% if card.cost > 0 %}
                <p>Elixir Cost: {{ card.cost }}</p>
            {% else %}
                <p>Elixir Cost: Free</p>
            {% endif %}
            <div>
                <a href="{% url 'cards_update' card.id %}">EDIT</a>
                <a href="{% url 'cards_delete' card.id %}">DELETE</a>
            </div>
        </div>
    </div>
    <hr>

{% endblock %}