<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'index' %}">All Cards</a></li>
        <li><a href="{% url 'card_create' %}">Make New Card</a></li>
    </nav>
    <h1>Clash Royale Collection</h1>
    {% block content %}
    {% endblock %}
</body>
</html>