{% extends 'cr/home.html' %}
{% block content %}
<h1 class="text-center mt-5">Existing Cards</h1>
<div class="container">
    <div class="row">
        {% for card in cards %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ card.name }}</h3>
                        <p class="card-text">Rarity: {{ card.rarity }}</p>
                        {% if card.cost > 0 %}
                            <p class="card-text">Elixir Cost: {{ card.cost }}</p>
                        {% else %}
                            <p class="card-text">Elixir Cost: Free</p>
                        {% endif %}
                        <a href="/cards/{{ card.id }}" class="btn btn-primary btn-sm">Learn More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}