{% extends 'cr/home.html' %}
{% block content %}
<h1>Cards:</h1>

    {% for card in cards %}
    <hr>
    <div>
        <div>
            <h3><span>{{ card.name }}</span></h3>
            <p>Level: {{ card.level }}</p>
            <p>Rarity: {{ card.rarity }}</p>
            {% if card.cost > 0 %}
                <p>Elixir Cost: {{ card.cost }}</p>
            {% else %}
                <p>Elixir Cost: Free</p>
            {% endif %}
        </div>
    </div>
    <hr>
    {% endfor %}

{% endblock %}